h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

.g {
    color: lightgray;
}

.t {
    color: rgb(20, 214, 228);
}

.o {
    color: rgb(255, 123, 0);
}

.w {
    color: whitesmoke;
}

.doctype {
    background-color: rgb(48, 46, 46);
    color: rgb(77, 123, 209);
}