h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

.g {
    color: lightgray;
}

.gr {
    color: green;
}

.t {
    color: rgb(20, 214, 228);
}

.o {
    color: rgb(255, 123, 0);
}

.w {
    color: whitesmoke;
}

.structur0,
.comments2,
.comments4,
.whitespace0 {
    background-image: url(../../images/backgroundgrey.png);
    color: rgb(77, 123, 209);
}

.comments0 {
    display: flex;
    gap: 10px;
}

.comments1,
.comments3 {
    flex: 1;
}

.comments2,
.comments4 {
    height: 6.5rem;
}

.whitespace1 {
    border: 2px solid rgb(48, 46, 46);
}

li {
    line-height: 1.5rem;
}