h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 0rem;
}

.g {
    background-color: lightgray;
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

pre {
    display: flex;
    justify-content: center;
}

.comments0 {
    display: flex;
    gap: 20px;
}

.comments1,
.comments3 {
    flex: 1;
}

.comments2,
.comments4 {
    height: 9.5rem;
}

.whitespace1 {
    border: 2px solid rgb(48, 46, 46);
}

li {
    line-height: 1.5rem;
}