h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 0rem;
}

li {
    line-height: 1.5rem;
}

.g {
    background-color: lightgray;
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

pre {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.thead0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.thead1,
.thead2 {
    flex: 1;
    min-width: 0;
}

.tbod0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.tbod1,
.tbod2 {
    flex: 1;
    min-width: 0;
}

.th0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.th1,
.th2 {
    flex: 1;
    min-width: 0;
}

.td0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.td1,
.td2 {
    flex: 1;
    min-width: 0;
}

.trows0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.trows1,
.trows2 {
    flex: 1;
    min-width: 0;
}

.tcols0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.tcols1,
.tcols2 {
    flex: 1;
    min-width: 0;
}