

.akthema, .gpthema {
    display: inline-block;
    width: 45%;
}

.gpthema {
    float: right;
}

.index {
    margin-top: 4rem;
    border-top: 2px solid rgb(47, 125, 189);
}

.h2index {
    margin-bottom: 3rem;
}

li {
    line-height: 1.75rem;
}

.cssindex {
    border-top: 2px solid rgb(47, 125, 189);
}

.commandindex {
    border-top: 2px solid rgb(47, 125, 189)
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}