html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: whitesmoke;
}

h1 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: darkred;
    font-weight: 1000;
}

header {
    background-color: darkred;
    height: 4.2rem;
    position: fixed;
    width: 100%;
    top: -8px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.left {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4px;
}

.right {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    margin-top: 4px;
}

.header {
    font-weight: 400;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25rem;
}

footer {
    background-color: darkred;
    height: 3rem;
    width: 100%;

}

.container {
    min-height: calc(100vh - 6.8rem);
    padding-top: 3rem;
    width: 80%;
    margin: auto;
}

.pfooter{
    font-weight: bold;
    font-size: 0.7rem;
    float: right;
    padding-right: 5%;
    margin-top: 1.15rem;
    color: whitesmoke
}