li {
    line-height: 1.5rem;
}

a {
    display: inline-block;
}

p {
    color: black;
}

a {
    color: darkred;
    font-weight: 700;
    text-decoration: none;
}

.index {
    display: flex;
    gap: 40px;
}

.column {
    flex: 1;
}

input {
    height: 1.5rem;
}