h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 0rem;
}

li {
    line-height: 1.5rem;
}

.g {
    background-color: lightgray;
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

pre {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.fontf1 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.fontf2,
.fontf3 {
    flex: 1;
    min-width: 0;
}

.fontf3 {
    font-family: Arial;
}

.fontf4 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.fontf5,
.fontf6 {
    flex: 1;
    min-width: 0;
}

.fontf6 {
    font-family: "Times New Roman";
}

.fontf7 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.fontf8,
.fontf9 {
    flex: 1;
    min-width: 0;
}

.fontf9 {
    font-family: "Franklin Gothic Mediom";
}

.fontw0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.fontw1,
.fontw2 {
    flex: 1;
    min-width: 0;
}

.bspweight3 {
    font-weight: 700;
}