h2,
h6 {
    border-top: 1px solid black;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 0rem;
}

.g {
    background-color: lightgray;
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

pre {
    display: flex;
    justify-content: center;
}

li {
    line-height: 1.5rem;
}

.nohead {
    color: black;
}


th,
td {
    border: 1px solid black;
    width: 10rem;
    text-align: center;
}

.tabcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

.nyan {
    background-image: url("../../images/cat-space.gif");
    height: 230px;
    color: whitesmoke;
}

.nyan2 {
    background-image: url("../../images/cat-space.gif");
    background-size: cover;
    height: 200px;
    color: whitesmoke;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.test {
    text-align: center;
}

.nacontainer {
    display: flex;
    align-items: center;
}

.naimage {
    margin-right: 20px;
}

.test2 {
    margin: auto;
}