h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 0rem;
}

li {
    line-height: 1.5rem;
}

.g {
    background-color: lightgray;
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

pre {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.fore0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.fore1,
.fore2 {
    flex: 1;
    min-width: 0;
}

.bspforeground3 {
    color: green;
}

.bac0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.bac1,
.bac2 {
    flex: 1;
    min-width: 0;
}

.bac3 {
    background-color: blue;
    font-weight: bolder;
    color: whitesmoke;
}

.keyw0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.keyw1,
.keyw2 {
    flex: 1;
    min-width: 0;
}


.bspkeywords2 {
    color: aqua;
}

.bspkeywords3 {
    color: blueviolet;
}

.hexa0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.hexa1,
.hexa2 {
    flex: 1;
    min-width: 0;
}

.opa0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.opa1,
.opa2 {
    flex: 1;
    min-width: 0;
}

.bspopacity2 {
    opacity: 0.5;
}

.rgb0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.rgb1,
.rgb2 {
    flex: 1;
    min-width: 0;
}

.bsprgb2 {
    color: rgb(249, 2, 171);
}

.bsprgb3 {
    color: rgb(0,255,0);
}

.hsl0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.hsl1,
.hsl2 {
    flex: 1;
    min-width: 0;
}

.hsl3 {
    background-color: hsl(200, 70%, 50%);
}

.cola0 {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.cola1,
.cola2 {
    flex: 1;
    min-width: 0;
}

.bspalpha3 {
    background-color: rgba(0, 255,0, 0.5);
}

.bspalpha4 {
    background-color: hsla(34, 100%, 50%, 0.1);
}

.bspalpha5 {
    color: transparent;
}