h2,
h3,
h4,
h5,
h6 {
    border-top: 1px solid black;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 0rem;
}

.g {
    background-color: lightgray;
}

.zweispaltig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

pre {
    display: flex;
    justify-content: center;
}

li {
    line-height: 1.5rem;
}

.nohead {
    color: black;
}

th,
td {
    border: 1px solid black;
    width: 10rem;
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

button {
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
}

.background {
    background-image: url("../../../images/backalley.jpg");
    background-size: cover;
    height: 700px;
    text-align: center;
}

.text-block {
    display: inline-block;
    text-align: center;
}

.highlight {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    /* leicht weißer Hintergrund */
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin: 0.2rem 0;
}

button.highlight {
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.catch {
    font-weight: bold;
}